/* src/components/Header.css */

.header {
  position: fixed;    
  top: 0;
  left: 0;
  width: 100%;         
  background-color: rgba(0, 0, 0, 0.37);
  padding: 1rem 2rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;       
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

main {
  padding-top: 70px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}

.TitreHeader{
 font-size: 2rem;
 text-align: left;
}

.logo{
    width: 5rem;
    margin-right: 1rem;
}

.profil{
  width: 2rem;
  margin-left: 1rem;
}

.nav-links a.active {
  color: #007bff;
  font-weight: bold;
  text-decoration: underline;
}

/* -------------------- */
/* Responsive Styles */
/* -------------------- */

/* Tablettes */
@media (max-width: 992px) {
  .TitreHeader {
    font-size: 1.5rem;
    text-align: center;
    width: 90%;
    margin-top: 0.5rem;
  }

  .nav-links {
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1rem;
  }

  .header {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: rgb(62, 62, 62);

  }
}

/* Mobiles */
@media (max-width: 600px) {
  .TitreHeader {
    font-size: 1.2rem;
    text-align: center;
  }

  .nav-links {
    gap: 1rem;
    font-size: 0.9rem;
  }

  .logo {
    width: 3.5rem;
  }

  .profil {
    width: 1.5rem;
  }
}